<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>seat/cardtype-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1450,1246},{362,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{362,114}</string>
			</dict>
			<key>seat/name-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1438,1568},{175,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,69}</string>
			</dict>
			<key>seat/level-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1422,882},{62,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,23}</string>
			</dict>
			<key>seat/dealer.png</key>
			<dict>
				<key>frame</key>
				<string>{{1940,649},{51,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,55}</string>
			</dict>
			<key>room/btn-green.png</key>
			<dict>
				<key>frame</key>
				<string>{{1786,1883},{113,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,87}</string>
			</dict>
			<key>room/btn-yellow.png</key>
			<dict>
				<key>frame</key>
				<string>{{846,1909},{113,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,87}</string>
			</dict>
			<key>room/calculate-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1939,702},{555,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{555,77}</string>
			</dict>
			<key>room/content-ctype.png</key>
			<dict>
				<key>frame</key>
				<string>{{1015,434},{405,470}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{405,470}</string>
			</dict>
			<key>room/clock-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{332,731},{116,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,116}</string>
			</dict>
			<key>room/clock.png</key>
			<dict>
				<key>frame</key>
				<string>{{728,1909},{116,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,116}</string>
			</dict>
			<key>room/dialog-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,1972},{72,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,71}</string>
			</dict>
			<key>room/loser-light.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{505,500}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{505,500}</string>
			</dict>
			<key>room/loser.png</key>
			<dict>
				<key>frame</key>
				<string>{{1774,1},{646,248}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{646,248}</string>
			</dict>
			<key>room/sys-msg-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1422,778},{33,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,50}</string>
			</dict>
			<key>room/win-light.png</key>
			<dict>
				<key>frame</key>
				<string>{{508,1},{505,500}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{505,500}</string>
			</dict>
			<key>room/win.png</key>
			<dict>
				<key>frame</key>
				<string>{{1470,1},{646,302}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{646,302}</string>
			</dict>
			<key>menu/back-hall.png</key>
			<dict>
				<key>frame</key>
				<string>{{2004,1380},{49,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,38}</string>
			</dict>
			<key>menu/btn-bx.png</key>
			<dict>
				<key>frame</key>
				<string>{{99,1972},{76,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,70}</string>
			</dict>
			<key>menu/btn-cardtype.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,1972},{71,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{71,65}</string>
			</dict>
			<key>menu/btn-chat.png</key>
			<dict>
				<key>frame</key>
				<string>{{1542,1516},{55,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,48}</string>
			</dict>
			<key>menu/btn-task.png</key>
			<dict>
				<key>frame</key>
				<string>{{1985,1576},{62,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,71}</string>
			</dict>
			<key>menu/change-room.png</key>
			<dict>
				<key>frame</key>
				<string>{{2004,1328},{50,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,42}</string>
			</dict>
			<key>menu/menu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1422,725},{51,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,33}</string>
			</dict>
			<key>menu/menu-btn-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1975,1971},{71,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,76}</string>
			</dict>
			<key>menu/transparent.png</key>
			<dict>
				<key>frame</key>
				<string>{{1786,649},{152,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,51}</string>
			</dict>
			<key>seat/dealer-light.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,1909},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>login/bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1801,1640},{139,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{139,99}</string>
			</dict>
			<key>login/green-btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1456,1014},{453,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{453,114}</string>
			</dict>
			<key>login/guest.png</key>
			<dict>
				<key>frame</key>
				<string>{{1470,649},{314,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{314,61}</string>
			</dict>
			<key>login/qq.png</key>
			<dict>
				<key>frame</key>
				<string>{{317,1972},{67,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,67}</string>
			</dict>
			<key>login/qs.png</key>
			<dict>
				<key>frame</key>
				<string>{{1387,1036},{313,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{313,61}</string>
			</dict>
			<key>login/wchat.png</key>
			<dict>
				<key>frame</key>
				<string>{{1901,1951},{86,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,72}</string>
			</dict>
			<key>login/yellow-btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1450,1130},{453,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{453,114}</string>
			</dict>
			<key>task/mask.png</key>
			<dict>
				<key>frame</key>
				<string>{{2024,369},{170,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{170,8}</string>
			</dict>
			<key>task/pro-item.png</key>
			<dict>
				<key>frame</key>
				<string>{{1438,1640},{145,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{145,145}</string>
			</dict>
			<key>task/progress-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2024,599},{181,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{181,19}</string>
			</dict>
			<key>task/progress.png</key>
			<dict>
				<key>frame</key>
				<string>{{2024,188},{179,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{179,17}</string>
			</dict>
			<key>top/bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1458,620},{10,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,96}</string>
			</dict>
			<key>top/buy.png</key>
			<dict>
				<key>frame</key>
				<string>{{1585,1639},{53,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,53}</string>
			</dict>
			<key>top/email.png</key>
			<dict>
				<key>frame</key>
				<string>{{1985,1719},{65,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,55}</string>
			</dict>
			<key>top/gold-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1387,906},{30,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,47}</string>
			</dict>
			<key>top/seting.png</key>
			<dict>
				<key>frame</key>
				<string>{{386,1972},{64,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,65}</string>
			</dict>
			<key>roomlist/bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1458,718},{479,294}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{479,294}</string>
			</dict>
			<key>roomlist/item-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1419,946},{35,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,88}</string>
			</dict>
			<key>roomlist/item-light.png</key>
			<dict>
				<key>frame</key>
				<string>{{1438,1362},{204,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,102}</string>
			</dict>
			<key>roomlist/min-buying-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2004,1528},{46,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,37}</string>
			</dict>
			<key>roomlist/quickstart.png</key>
			<dict>
				<key>frame</key>
				<string>{{1906,1259},{96,286}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,286}</string>
			</dict>
			<key>userinfo/line.png</key>
			<dict>
				<key>frame</key>
				<string>{{2045,1},{596,1}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{596,1}</string>
			</dict>
			<key>userinfo/head-tip.png</key>
			<dict>
				<key>frame</key>
				<string>{{1422,620},{103,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{103,34}</string>
			</dict>
			<key>userinfo/paper.png</key>
			<dict>
				<key>frame</key>
				<string>{{1232,906},{153,536}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,536}</string>
			</dict>
			<key>userinfo/prop-item-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1786,1781},{100,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,103}</string>
			</dict>
			<key>userinfo/text-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1387,955},{30,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,37}</string>
			</dict>
			<key>userinfo/boy.png</key>
			<dict>
				<key>frame</key>
				<string>{{1905,1130},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>userinfo/girl.png</key>
			<dict>
				<key>frame</key>
				<string>{{1997,649},{24,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,32}</string>
			</dict>
			<key>userinfo/edit-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2004,1259},{67,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,37}</string>
			</dict>
			<key>userinfo/edit.png</key>
			<dict>
				<key>frame</key>
				<string>{{2018,864},{24,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,29}</string>
			</dict>
			<key>bank/input.png</key>
			<dict>
				<key>frame</key>
				<string>{{1422,830},{31,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,50}</string>
			</dict>
			<key>bank/line.png</key>
			<dict>
				<key>frame</key>
				<string>{{2024,541},{1,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1,55}</string>
			</dict>
			<key>bank/tab-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1902,1766},{183,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{183,71}</string>
			</dict>
			<key>bank/tab-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1975,1786},{183,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{183,71}</string>
			</dict>
			<key>bank/tab-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1985,1649},{68,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,59}</string>
			</dict>
			<key>bank/title-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1906,1547},{217,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{217,77}</string>
			</dict>
			<key>bank/title.png</key>
			<dict>
				<key>frame</key>
				<string>{{1025,1909},{84,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,95}</string>
			</dict>
			<key>task/title.png</key>
			<dict>
				<key>frame</key>
				<string>{{1111,1350},{80,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,91}</string>
			</dict>
			<key>store/line.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1972},{75,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,96}</string>
			</dict>
			<key>store/title-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1786,702},{10,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{10,88}</string>
			</dict>
			<key>store/title.png</key>
			<dict>
				<key>frame</key>
				<string>{{1814,1246},{392,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{392,90}</string>
			</dict>
			<key>store/item-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,503},{329,312}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{329,312}</string>
			</dict>
			<key>rank/address.png</key>
			<dict>
				<key>frame</key>
				<string>{{2004,1484},{42,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,42}</string>
			</dict>
			<key>rank/title.png</key>
			<dict>
				<key>frame</key>
				<string>{{935,1909},{93,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{93,88}</string>
			</dict>
			<key>rank/item-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1422,434},{44,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,91}</string>
			</dict>
			<key>pay/apple.png</key>
			<dict>
				<key>frame</key>
				<string>{{1585,1694},{45,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,45}</string>
			</dict>
			<key>pay/background.png</key>
			<dict>
				<key>frame</key>
				<string>{{2027,541},{8,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{8,8}</string>
			</dict>
			<key>pay/btn-back.png</key>
			<dict>
				<key>frame</key>
				<string>{{2018,782},{28,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,42}</string>
			</dict>
			<key>pay/btn-other-selection.png</key>
			<dict>
				<key>frame</key>
				<string>{{2004,1431},{51,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,35}</string>
			</dict>
			<key>pay/btn-pay.png</key>
			<dict>
				<key>frame</key>
				<string>{{2018,826},{29,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,36}</string>
			</dict>
			<key>pay/btn-selected-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2034,555},{4,4}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{4,4}</string>
			</dict>
			<key>pay/btn-selected-color.png</key>
			<dict>
				<key>frame</key>
				<string>{{2027,555},{4,5}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{4,5}</string>
			</dict>
			<key>pay/btn-selected-symbol.png</key>
			<dict>
				<key>frame</key>
				<string>{{2024,1},{19,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,185}</string>
			</dict>
			<key>pay/btn-weixin.png</key>
			<dict>
				<key>frame</key>
				<string>{{1599,1516},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>pay/btn-zhifubao.png</key>
			<dict>
				<key>frame</key>
				<string>{{1585,1741},{45,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,45}</string>
			</dict>
			<key>pay/line-horizontal.png</key>
			<dict>
				<key>frame</key>
				<string>{{2027,551},{13,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{13,2}</string>
			</dict>
			<key>pay/line-vertical.png</key>
			<dict>
				<key>frame</key>
				<string>{{2042,369},{1,5}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1,5}</string>
			</dict>
			<key>pay/up-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2040,555},{4,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{4,3}</string>
			</dict>
			<key>rank/bg_me.png</key>
			<dict>
				<key>frame</key>
				<string>{{1422,527},{42,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,91}</string>
			</dict>
			<key>rank/mask.png</key>
			<dict>
				<key>frame</key>
				<string>{{1111,1432},{81,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,81}</string>
			</dict>
			<key>rank/mask_me.png</key>
			<dict>
				<key>frame</key>
				<string>{{1111,1909},{81,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,81}</string>
			</dict>
			<key>hall/activity.png</key>
			<dict>
				<key>frame</key>
				<string>{{1194,1909},{76,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,86}</string>
			</dict>
			<key>hall/bank.png</key>
			<dict>
				<key>frame</key>
				<string>{{1272,1662},{76,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{76,86}</string>
			</dict>
			<key>hall/menu-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1387,1351},{309,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{309,49}</string>
			</dict>
			<key>hall/more.png</key>
			<dict>
				<key>frame</key>
				<string>{{1360,1662},{76,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,86}</string>
			</dict>
			<key>hall/online-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1015,1},{431,453}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{431,453}</string>
			</dict>
			<key>hall/ranking.png</key>
			<dict>
				<key>frame</key>
				<string>{{1272,1740},{76,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{76,86}</string>
			</dict>
			<key>hall/shop.png</key>
			<dict>
				<key>frame</key>
				<string>{{1360,1750},{76,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,86}</string>
			</dict>
			<key>hall/tab1.png</key>
			<dict>
				<key>frame</key>
				<string>{{332,503},{226,442}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{226,442}</string>
			</dict>
			<key>hall/tab2.png</key>
			<dict>
				<key>frame</key>
				<string>{{776,503},{226,442}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{226,442}</string>
			</dict>
			<key>hall/tab3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1004,906},{226,442}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{226,442}</string>
			</dict>
			<key>store/gold1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1542,1362},{152,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{152,129}</string>
			</dict>
			<key>store/gold2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1647,1516},{152,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,129}</string>
			</dict>
			<key>store/gold3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1673,1362},{152,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{152,129}</string>
			</dict>
			<key>store/gold4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1640,1647},{152,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,129}</string>
			</dict>
			<key>store/gold5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1632,1778},{152,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,129}</string>
			</dict>
			<key>store/gold6.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,1909},{152,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,129}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>room.png</string>
			<key>realTextureFileName</key>
			<string>room.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>