<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>seat/cardtype-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1742,649},{362,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{362,114}</string>
			</dict>
			<key>seat/name-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{74,503},{175,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{175,69}</string>
			</dict>
			<key>seat/level-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,1992},{62,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,23}</string>
			</dict>
			<key>seat/dealer.png</key>
			<dict>
				<key>frame</key>
				<string>{{1994,1056},{51,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,55}</string>
			</dict>
			<key>room/btn-green.png</key>
			<dict>
				<key>frame</key>
				<string>{{145,608},{113,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,87}</string>
			</dict>
			<key>room/btn-yellow.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,503},{113,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,87}</string>
			</dict>
			<key>room/calculate-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1663,649},{555,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{555,77}</string>
			</dict>
			<key>room/content-ctype.png</key>
			<dict>
				<key>frame</key>
				<string>{{1015,305},{405,470}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{405,470}</string>
			</dict>
			<key>room/clock-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,712},{116,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,116}</string>
			</dict>
			<key>room/clock.png</key>
			<dict>
				<key>frame</key>
				<string>{{119,712},{116,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,116}</string>
			</dict>
			<key>room/dialog-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,503},{72,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,71}</string>
			</dict>
			<key>room/loser-light.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{505,500}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{505,500}</string>
			</dict>
			<key>room/loser.png</key>
			<dict>
				<key>frame</key>
				<string>{{1663,1},{646,248}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{646,248}</string>
			</dict>
			<key>room/sys-msg-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1992},{33,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,50}</string>
			</dict>
			<key>room/win-light.png</key>
			<dict>
				<key>frame</key>
				<string>{{508,1},{505,500}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{505,500}</string>
			</dict>
			<key>room/win.png</key>
			<dict>
				<key>frame</key>
				<string>{{1015,1},{646,302}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{646,302}</string>
			</dict>
			<key>menu/back-hall.png</key>
			<dict>
				<key>frame</key>
				<string>{{1991,1331},{49,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,38}</string>
			</dict>
			<key>menu/btn-bx.png</key>
			<dict>
				<key>frame</key>
				<string>{{519,577},{76,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{76,70}</string>
			</dict>
			<key>menu/btn-cardtype.png</key>
			<dict>
				<key>frame</key>
				<string>{{315,868},{71,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{71,65}</string>
			</dict>
			<key>menu/btn-chat.png</key>
			<dict>
				<key>frame</key>
				<string>{{1994,1113},{55,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,48}</string>
			</dict>
			<key>menu/btn-task.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,868},{62,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,71}</string>
			</dict>
			<key>menu/change-room.png</key>
			<dict>
				<key>frame</key>
				<string>{{1994,1287},{50,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,42}</string>
			</dict>
			<key>menu/menu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1991,1491},{51,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,33}</string>
			</dict>
			<key>menu/menu-btn-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{499,668},{71,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{71,76}</string>
			</dict>
			<key>menu/transparent.png</key>
			<dict>
				<key>frame</key>
				<string>{{1858,649},{152,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{152,51}</string>
			</dict>
			<key>seat/dealer-light.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,1388},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>login/bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,1388},{139,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{139,99}</string>
			</dict>
			<key>login/green-btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1913,1},{453,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{453,114}</string>
			</dict>
			<key>login/guest.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1206},{314,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{314,61}</string>
			</dict>
			<key>login/qq.png</key>
			<dict>
				<key>frame</key>
				<string>{{315,941},{67,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,67}</string>
			</dict>
			<key>login/qs.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,1325},{313,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{313,61}</string>
			</dict>
			<key>login/wchat.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,503},{86,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,72}</string>
			</dict>
			<key>login/yellow-btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1913,456},{453,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{453,114}</string>
			</dict>
			<key>task/mask.png</key>
			<dict>
				<key>frame</key>
				<string>{{2032,182},{170,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{170,8}</string>
			</dict>
			<key>task/pro-item.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1325},{145,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{145,145}</string>
			</dict>
			<key>task/progress-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1642,492},{181,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{181,19}</string>
			</dict>
			<key>task/progress.png</key>
			<dict>
				<key>frame</key>
				<string>{{2029,1},{179,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{179,17}</string>
			</dict>
			<key>top/bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2032,354},{10,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,96}</string>
			</dict>
			<key>top/buy.png</key>
			<dict>
				<key>frame</key>
				<string>{{1994,1001},{53,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,53}</string>
			</dict>
			<key>top/email.png</key>
			<dict>
				<key>frame</key>
				<string>{{1840,1164},{65,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,55}</string>
			</dict>
			<key>top/gold-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,2017},{30,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{30,47}</string>
			</dict>
			<key>top/seting.png</key>
			<dict>
				<key>frame</key>
				<string>{{398,787},{64,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,65}</string>
			</dict>
			<key>roomlist/bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1511},{479,294}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{479,294}</string>
			</dict>
			<key>roomlist/item-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1994,911},{35,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,88}</string>
			</dict>
			<key>roomlist/item-light.png</key>
			<dict>
				<key>frame</key>
				<string>{{1887,1305},{204,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,102}</string>
			</dict>
			<key>roomlist/min-buying-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1991,1452},{46,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,37}</string>
			</dict>
			<key>roomlist/quickstart.png</key>
			<dict>
				<key>frame</key>
				<string>{{1742,1013},{96,286}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,286}</string>
			</dict>
			<key>userinfo/line.png</key>
			<dict>
				<key>frame</key>
				<string>{{2029,182},{596,1}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{596,1}</string>
			</dict>
			<key>userinfo/head-tip.png</key>
			<dict>
				<key>frame</key>
				<string>{{1858,989},{103,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{103,34}</string>
			</dict>
			<key>userinfo/paper.png</key>
			<dict>
				<key>frame</key>
				<string>{{1487,305},{153,536}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,536}</string>
			</dict>
			<key>userinfo/prop-item-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{145,503},{100,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,103}</string>
			</dict>
			<key>userinfo/text-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,1992},{30,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,37}</string>
			</dict>
			<key>userinfo/boy.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,1992},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>userinfo/girl.png</key>
			<dict>
				<key>frame</key>
				<string>{{259,1992},{24,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,32}</string>
			</dict>
			<key>userinfo/edit-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1994,1170},{67,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,37}</string>
			</dict>
			<key>userinfo/edit.png</key>
			<dict>
				<key>frame</key>
				<string>{{285,1992},{24,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,29}</string>
			</dict>
			<key>bank/input.png</key>
			<dict>
				<key>frame</key>
				<string>{{36,1992},{31,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,50}</string>
			</dict>
			<key>bank/line.png</key>
			<dict>
				<key>frame</key>
				<string>{{2042,182},{1,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1,55}</string>
			</dict>
			<key>bank/tab-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,712},{183,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,71}</string>
			</dict>
			<key>bank/tab-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,503},{183,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{183,71}</string>
			</dict>
			<key>bank/tab-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1840,1094},{68,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,59}</string>
			</dict>
			<key>bank/title-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{317,1206},{217,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,77}</string>
			</dict>
			<key>bank/title.png</key>
			<dict>
				<key>frame</key>
				<string>{{350,592},{84,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,95}</string>
			</dict>
			<key>task/title.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,503},{80,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,91}</string>
			</dict>
			<key>store/line.png</key>
			<dict>
				<key>frame</key>
				<string>{{422,689},{75,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,96}</string>
			</dict>
			<key>store/title-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2032,452},{10,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,88}</string>
			</dict>
			<key>store/title.png</key>
			<dict>
				<key>frame</key>
				<string>{{1902,911},{392,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{392,90}</string>
			</dict>
			<key>store/item-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,843},{329,312}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{329,312}</string>
			</dict>
			<key>rank/address.png</key>
			<dict>
				<key>frame</key>
				<string>{{1991,1408},{42,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,42}</string>
			</dict>
			<key>rank/title.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,592},{93,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{93,88}</string>
			</dict>
			<key>rank/item-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1858,803},{44,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,91}</string>
			</dict>
			<key>pay/apple.png</key>
			<dict>
				<key>frame</key>
				<string>{{1840,1231},{45,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,45}</string>
			</dict>
			<key>pay/background.png</key>
			<dict>
				<key>frame</key>
				<string>{{2032,542},{8,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{8,8}</string>
			</dict>
			<key>pay/btn-back.png</key>
			<dict>
				<key>frame</key>
				<string>{{118,2017},{28,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,42}</string>
			</dict>
			<key>pay/btn-other-selection.png</key>
			<dict>
				<key>frame</key>
				<string>{{1991,1371},{51,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,35}</string>
			</dict>
			<key>pay/btn-pay.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,1992},{29,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,36}</string>
			</dict>
			<key>pay/btn-selected-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2042,245},{4,4}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{4,4}</string>
			</dict>
			<key>pay/btn-selected-color.png</key>
			<dict>
				<key>frame</key>
				<string>{{2042,239},{4,5}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{4,5}</string>
			</dict>
			<key>pay/btn-selected-symbol.png</key>
			<dict>
				<key>frame</key>
				<string>{{1642,305},{19,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,185}</string>
			</dict>
			<key>pay/btn-weixin.png</key>
			<dict>
				<key>frame</key>
				<string>{{1994,1239},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>pay/btn-zhifubao.png</key>
			<dict>
				<key>frame</key>
				<string>{{1840,1278},{45,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,45}</string>
			</dict>
			<key>pay/line-horizontal.png</key>
			<dict>
				<key>frame</key>
				<string>{{2045,182},{13,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{13,2}</string>
			</dict>
			<key>pay/line-vertical.png</key>
			<dict>
				<key>frame</key>
				<string>{{2045,197},{1,5}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1,5}</string>
			</dict>
			<key>pay/up-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2042,251},{4,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{4,3}</string>
			</dict>
			<key>rank/bg_me.png</key>
			<dict>
				<key>frame</key>
				<string>{{1858,896},{42,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,91}</string>
			</dict>
			<key>rank/mask.png</key>
			<dict>
				<key>frame</key>
				<string>{{315,785},{81,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,81}</string>
			</dict>
			<key>rank/mask_me.png</key>
			<dict>
				<key>frame</key>
				<string>{{436,585},{81,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,81}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>room.png</string>
			<key>realTextureFileName</key>
			<string>room.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>